# EDA

In [1]:
import pandas as pd


from loan_prediction.config import split_train
from loan_prediction.custom_funcs import *

In [2]:
df = pd.read_csv(split_train, index_col='LoanNr_ChkDgt')
label = 'MIS_Status'

c:\users\patoj\anaconda3\envs\deep_learning\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.describe()

,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
count,717733.000000,717733.000000,717733.000000,717733.000000,717633.000000,717733.00000,717733.000000,717733.000000,717733.000000
mean,53843.424372,398731.357524,110.815890,11.395040,1.280255,8.40327,10.780751,2756.751296,0.756929
std,31170.958176,263247.877448,78.897445,73.554447,0.451716,236.30060,236.906138,12765.072160,0.646117
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,27609.000000,235210.000000,60.000000,2.000000,1.000000,0.00000,0.000000,1.000000,0.000000
50%,55413.000000,445310.000000,84.000000,4.000000,1.000000,0.00000,1.000000,1.000000,1.000000
75%,83705.000000,561730.000000,120.000000,10.000000,2.000000,1.00000,4.000000,1.000000,1.000000
max,99999.000000,928120.000000,569.000000,9999.000000,2.000000,8800.00000,9500.000000,99999.000000,2.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717733 entries, 5893754007 to 2185585006
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Name               717723 non-null  object
 1   City               717708 non-null  object
 2   State              717721 non-null  object
 3   Zip                717733 non-null  int64
 4   Bank               716506 non-null  object
 5   BankState          716499 non-null  object
 6   NAICS              717733 non-null  int64
 7   ApprovalDate       717733 non-null  object
 8   ApprovalFY         717733 non-null  object
 9   Term               717733 non-null  int64
 10  NoEmp              717733 non-null  int64
 11  NewExist           717633 non-null  float64
 12  CreateJob          717733 non-null  int64
 13  RetainedJob        717733 non-null  int64
 14  FranchiseCode      717733 non-null  int64
 15  UrbanRural         717733 non-null  int64
 16  RevLineCr          714120 non-null  object
 17  LowDoc             715669 non-null  object
 18  ChgOffDate         129893 non-null  object
 19  DisbursementDate   715982 non-null  object
 20  DisbursementGross  717733 non-null  object
 21  BalanceGross       717733 non-null  object
 22  MIS_Status         717733 non-null  object
 23  ChgOffPrinGr       717733 non-null  object
 24  GrAppv             717733 non-null  object
 25  SBA_Appv           717733 non-null  object
dtypes: float64(1), int64(8), object(17)
memory usage: 147.8+ MB

In [5]:
# preprocessing
df = drop_na(df)

In [6]:
df

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
LoanNr_ChkDgt,,,,,,,,,,,,,,,,,,,,,
5893754007,KUT-N-KLIP LAWN SERVICE,DUNEDIN,FL,34597,BANK OF AMERICA NATL ASSOC,NC,561730,22-Nov-02,2003,84,...,Y,N,NaN,31-Jan-03,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
3842804010,"AMERICANA VINEYARDS/WINERY,INC",INTERLAKEN,NY,14748,ALTERNATIVES FCU,NY,312130,18-Jul-00,2000,12,...,N,N,NaN,30-Sep-00,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$45,000.00"
9096044001,WILD WOOD CHAINSAW CARVINGS,MAQUOKETA,IA,52060,BBCN BANK,CA,453998,13-Sep-05,2005,48,...,0,N,3-Nov-08,30-Sep-05,"$10,000.00",$0.00,CHGOFF,"$7,422.00","$10,000.00","$5,000.00"
2982214007,SQUEAKY DOOR MARKET,LOWER BRULE,SD,57548,WELLS FARGO BANK NATL ASSOC,SD,445110,2-Jun-99,1999,60,...,0,Y,NaN,30-Sep-99,"$26,000.00",$0.00,P I F,$0.00,"$26,000.00","$20,800.00"
4365925008,BGR The Burger Joint,Mobile,AL,36693,TRUSTMARK NATIONAL BANK,AL,722110,15-Nov-10,2011,84,...,N,NaN,NaN,1-Mar-11,"$201,500.00",$0.00,P I F,$0.00,"$201,500.00","$181,350.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204824000,THE CORNER ANIMAL HOSPITAL,SETAUKET,NY,11733,UNITY BANK,NJ,541940,27-Sep-99,1999,228,...,0,N,NaN,30-Apr-00,"$500,000.00",$0.00,P I F,$0.00,"$500,000.00","$375,000.00"
1497205002,USAccessories,EL MONTE,CA,91731,BANK OF AMERICA NATL ASSOC,NC,422320,13-Oct-05,2006,57,...,T,N,14-Aug-08,31-Mar-06,"$45,450.00",$0.00,CHGOFF,"$44,450.00","$45,000.00","$22,500.00"
1333844003,"ZADEDA FARMS, INC.",KINGSTON,NH,3848,GRANITE ST. ECONOMIC DEVEL COR,NH,0,10-Jun-97,1997,240,...,N,N,NaN,11-Mar-98,"$291,000.00",$0.00,P I F,$0.00,"$291,000.00","$291,000.00"
9612943001,DR. ROB'S GARAGE,OXFORD,ME,4270,NORTHEAST BANK,ME,811111,7-Oct-96,1997,120,...,N,Y,NaN,31-Dec-96,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"
2185585006,SANG YUL LEE DBA MEN IN BLACK,ANNANDALE,VA,22003,"PNC BANK, NATIONAL ASSOCIATION",DE,722110,20-Dec-06,2007,12,...,Y,N,9-Mar-08,31-Jan-07,"$50,000.00",$0.00,CHGOFF,"$50,000.00","$50,000.00","$25,000.00"

## Name

In [7]:
df['Name'].isnull().sum()

10

In [8]:
df['Name']

LoanNr_ChkDgt
5893754007           KUT-N-KLIP LAWN SERVICE
3842804010    AMERICANA VINEYARDS/WINERY,INC
9096044001       WILD WOOD CHAINSAW CARVINGS
2982214007               SQUEAKY DOOR MARKET
4365925008              BGR The Burger Joint
                           ...
3204824000        THE CORNER ANIMAL HOSPITAL
1497205002                     USAccessories
1333844003                ZADEDA FARMS, INC.
9612943001                  DR. ROB'S GARAGE
2185585006     SANG YUL LEE DBA MEN IN BLACK
Name: Name, Length: 716542, dtype: object

In [9]:
test = df['Name'].apply(lambda x: str(x)[-4:])
test.value_counts()[:10]

 INC    85071
INC.    83225
 LLC    55889
Inc.    27898
TION    10900
 Inc     7897
PANY     6822
NTER     5630
VICE     4691
CORP     4392
Name: Name, dtype: int64

In [10]:
most_used_ends = ['INC', 'INC.', 'LLC', 'Inc.', 'TION', 'Inc', 'PANY']
for end in most_used_ends:
    end_filt = df['Name'].str.endswith(end, na=False)
    print(end)
    print(df[end_filt][label].value_counts(normalize=True))

INC
P I F     0.842268
CHGOFF    0.157732
Name: MIS_Status, dtype: float64
INC.
P I F     0.881959
CHGOFF    0.118041
Name: MIS_Status, dtype: float64
LLC
P I F     0.777689
CHGOFF    0.222311
Name: MIS_Status, dtype: float64
Inc.
P I F     0.686644
CHGOFF    0.313356
Name: MIS_Status, dtype: float64
TION
P I F     0.851009
CHGOFF    0.148991
Name: MIS_Status, dtype: float64
Inc
P I F     0.708054
CHGOFF    0.291946
Name: MIS_Status, dtype: float64
PANY
P I F     0.879214
CHGOFF    0.120786
Name: MIS_Status, dtype: float64

In [11]:
df = get_endings(df)
df[df['name_end'] == 'Other'][label].value_counts(normalize=True)

P I F     0.8249
CHGOFF    0.1751
Name: MIS_Status, dtype: float64

In [12]:
df['name_end'].value_counts()

Other    435186
INC       87097
INC.      83225
LLC       57505
Inc.      27898
TION      10900
Inc        7909
PANY       6822
Name: name_end, dtype: int64

## City

In [13]:
df['City'].isnull().sum()

23

In [14]:
df[df['City'].isnull()]

,name_end,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
LoanNr_ChkDgt,,,,,,,,,,,,,,,,,,,,,
5554512008,INC.,NaN,KY,40209,CAPITAL ACCESS CORP - KENTUCKY,KY,0,16-Jun-81,1981,300,...,N,N,NaN,5-Aug-81,"$87,000.00",$0.00,P I F,$0.00,"$87,000.00","$87,000.00"
2884182004,Other,NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,16-Apr-81,1981,180,...,N,N,NaN,6-Jan-82,"$488,000.00",$0.00,P I F,$0.00,"$488,000.00","$488,000.00"
4247472004,INC,NaN,MA,2169,SOUTH SHORE ECONOMIC DEVEL COR,MA,0,17-Mar-81,1981,180,...,N,N,NaN,6-Jan-82,"$210,000.00",$0.00,P I F,$0.00,"$210,000.00","$210,000.00"
1330603010,Other,NaN,UT,84109,MOUNTAIN W. SMALL BUS. FINAN,UT,0,15-Dec-81,1982,300,...,N,N,NaN,6-Jan-82,"$190,000.00",$0.00,P I F,$0.00,"$190,000.00","$190,000.00"
3391402005,PANY,NaN,MO,63103,ST. LOUIS LOCAL DEVEL CO,MO,0,21-Jul-81,1981,180,...,N,N,NaN,4-Nov-81,"$83,000.00",$0.00,P I F,$0.00,"$83,000.00","$83,000.00"
4247502000,PANY,NaN,MA,2108,BOSTON LOCAL DEVELOPMENT,MA,0,1-Apr-81,1981,180,...,N,N,NaN,9-Sep-81,"$165,000.00",$0.00,P I F,$0.00,"$165,000.00","$165,000.00"
3258222000,Other,NaN,OH,44115,GROWTH CAPITAL CORP.,OH,0,18-Nov-81,1982,300,...,N,N,NaN,10-Feb-82,"$205,000.00",$0.00,P I F,$0.00,"$205,000.00","$205,000.00"
2884192007,Other,NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,15-Jun-81,1981,300,...,N,N,NaN,10-Sep-81,"$203,000.00",$0.00,P I F,$0.00,"$211,000.00","$211,000.00"
3403402003,TION,NaN,WA,98104,EVERGREEN BUSINESS CAPITAL,WA,0,8-Jun-81,1981,300,...,N,N,NaN,10-Feb-82,"$458,000.00",$0.00,P I F,$0.00,"$458,000.00","$458,000.00"
3662512006,Other,NaN,TX,78204,"ACCION TEXAS, INC.",TX,0,2-Jun-81,1981,300,...,N,N,NaN,9-Sep-81,"$74,000.00",$0.00,P I F,$0.00,"$74,000.00","$74,000.00"
4247422000,INC,NaN,MA,2169,SOUTH SHORE ECONOMIC DEVEL COR,MA,0,30-Jan-81,1981,240,...,N,N,NaN,9-Dec-81,"$156,000.00",$0.00,P I F,$0.00,"$156,000.00","$156,000.00"
2884202008,INC,NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,26-Jun-81,1981,180,...,N,N,NaN,10-Sep-81,"$407,000.00",$0.00,P I F,$0.00,"$407,000.00","$407,000.00"
3391492010,PANY,NaN,MO,63013,ST. LOUIS LOCAL DEVEL CO,MO,0,24-Feb-81,1981,240,...,N,N,NaN,10-Jun-81,"$107,000.00",$0.00,P I F,$0.00,"$107,000.00","$107,000.00"
3391472004,PANY,NaN,MO,63105,BUSINESS FINAN CORP OF ST. LOU,MO,0,4-Mar-81,1981,240,...,N,N,NaN,10-Jun-81,"$111,000.00",$0.00,P I F,$0.00,"$111,000.00","$111,000.00"
2884232006,Other,NaN,CA,92102,CDC SMALL BUS. FINAN CORP,CA,0,29-Jul-81,1981,240,...,N,N,NaN,10-Sep-81,"$159,000.00",$0.00,P I F,$0.00,"$159,000.00","$159,000.00"
3391452009,Other,NaN,MO,63103,ST. LOUIS LOCAL DEVEL CO,MO,0,11-May-81,1981,240,...,N,N,NaN,5-Aug-81,"$74,000.00",$0.00,P I F,$0.00,"$74,000.00","$74,000.00"
2268732010,INC,NaN,LA,70130,NEW ORLEANS REGIONAL BUS. DEVE,LA,0,17-Dec-81,1982,240,...,N,N,NaN,10-Feb-82,"$500,000.00",$0.00,P I F,$0.00,"$500,000.00","$500,000.00"
3438122002,Other,NaN,NE,50309,IOWA BUSINESS GROWTH COMPANY,IA,0,7-Oct-81,1982,180,...,N,N,NaN,6-Jan-82,"$225,000.00",$0.00,P I F,$0.00,"$225,000.00","$225,000.00"
7756831000,Other,NaN,MI,48502,FORWARD DEVEL CORP,MI,0,3-Mar-81,1981,240,...,N,N,NaN,10-Feb-82,"$162,000.00",$0.00,P I F,$0.00,"$162,000.00","$162,000.00"
4247702001,INC,NaN,MA,2165,BAY COLONY DEVEL CORP,MA,0,18-Sep-81,1981,180,...,N,N,NaN,10-Feb-82,"$95,000.00",$0.00,P I F,$0.00,"$95,000.00","$95,000.00"
3386722002,Other,NaN,MO,63103,ST. LOUIS LOCAL DEVEL CO,MO,0,16-Oct-81,1982,300,...,N,N,NaN,6-Jan-82,"$25,000.00",$0.00,P I F,$0.00,"$25,000.00","$25,000.00"
2716822007,Other,NaN,IL,60624,BANK - AMERICA NATL ASSOC,IL,0,10-Apr-81,1981,300,...,N,N,NaN,4-Nov-81,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$150,000.00"
5622822010,Other,NaN,NC,28402,WILMINGTON BUS. DEVEL,NC,0,13-Jul-81,1981,240,...,N,N,NaN,4-Nov-81,"$47,000.00",$0.00,P I F,$0.00,"$47,000.00","$47,000.00"

In [15]:
df['City'].nunique()

29799

In [16]:
city_val_counts = df['City'].value_counts()[:10]
city_val_counts

LOS ANGELES    9242
HOUSTON        8179
NEW YORK       6323
CHICAGO        4852
MIAMI          4484
SAN DIEGO      4258
DALLAS         4019
PHOENIX        3585
LAS VEGAS      3504
SPRINGFIELD    3002
Name: City, dtype: int64

In [17]:
top_cities = city_val_counts.index
for city in top_cities:
    print(f'Current city: {city}')
    print(df[df['City'] == city][label].value_counts(normalize=True))

Current city: LOS ANGELES
P I F     0.722679
CHGOFF    0.277321
Name: MIS_Status, dtype: float64
Current city: HOUSTON
P I F     0.786037
CHGOFF    0.213963
Name: MIS_Status, dtype: float64
Current city: NEW YORK
P I F     0.778744
CHGOFF    0.221256
Name: MIS_Status, dtype: float64
Current city: CHICAGO
P I F     0.725062
CHGOFF    0.274938
Name: MIS_Status, dtype: float64
Current city: MIAMI
P I F     0.673283
CHGOFF    0.326717
Name: MIS_Status, dtype: float64
Current city: SAN DIEGO
P I F     0.849225
CHGOFF    0.150775
Name: MIS_Status, dtype: float64
Current city: DALLAS
P I F     0.801692
CHGOFF    0.198308
Name: MIS_Status, dtype: float64
Current city: PHOENIX
P I F     0.811715
CHGOFF    0.188285
Name: MIS_Status, dtype: float64
Current city: LAS VEGAS
P I F     0.747717
CHGOFF    0.252283
Name: MIS_Status, dtype: float64
Current city: SPRINGFIELD
P I F     0.867422
CHGOFF    0.132578
Name: MIS_Status, dtype: float64

In [18]:
# preprocessing
df = drop_col(df, 'City')

In [19]:
df

,name_end,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
LoanNr_ChkDgt,,,,,,,,,,,,,,,,,,,,,
5893754007,Other,FL,34597,BANK OF AMERICA NATL ASSOC,NC,561730,22-Nov-02,2003,84,1,...,Y,N,NaN,31-Jan-03,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
3842804010,INC,NY,14748,ALTERNATIVES FCU,NY,312130,18-Jul-00,2000,12,9,...,N,N,NaN,30-Sep-00,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$45,000.00"
9096044001,Other,IA,52060,BBCN BANK,CA,453998,13-Sep-05,2005,48,1,...,0,N,3-Nov-08,30-Sep-05,"$10,000.00",$0.00,CHGOFF,"$7,422.00","$10,000.00","$5,000.00"
2982214007,Other,SD,57548,WELLS FARGO BANK NATL ASSOC,SD,445110,2-Jun-99,1999,60,9,...,0,Y,NaN,30-Sep-99,"$26,000.00",$0.00,P I F,$0.00,"$26,000.00","$20,800.00"
4365925008,Other,AL,36693,TRUSTMARK NATIONAL BANK,AL,722110,15-Nov-10,2011,84,1,...,N,NaN,NaN,1-Mar-11,"$201,500.00",$0.00,P I F,$0.00,"$201,500.00","$181,350.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204824000,Other,NY,11733,UNITY BANK,NJ,541940,27-Sep-99,1999,228,2,...,0,N,NaN,30-Apr-00,"$500,000.00",$0.00,P I F,$0.00,"$500,000.00","$375,000.00"
1497205002,Other,CA,91731,BANK OF AMERICA NATL ASSOC,NC,422320,13-Oct-05,2006,57,1,...,T,N,14-Aug-08,31-Mar-06,"$45,450.00",$0.00,CHGOFF,"$44,450.00","$45,000.00","$22,500.00"
1333844003,INC.,NH,3848,GRANITE ST. ECONOMIC DEVEL COR,NH,0,10-Jun-97,1997,240,8,...,N,N,NaN,11-Mar-98,"$291,000.00",$0.00,P I F,$0.00,"$291,000.00","$291,000.00"
9612943001,Other,ME,4270,NORTHEAST BANK,ME,811111,7-Oct-96,1997,120,1,...,N,Y,NaN,31-Dec-96,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"
2185585006,Other,VA,22003,"PNC BANK, NATIONAL ASSOCIATION",DE,722110,20-Dec-06,2007,12,1,...,Y,N,9-Mar-08,31-Jan-07,"$50,000.00",$0.00,CHGOFF,"$50,000.00","$50,000.00","$25,000.00"

## State

In [20]:
basic_cat_col_data(df, 'State', label, show_vals=51)

Null values: 12
Unique: 51
Vals:
 CA    104270
TX     56009
NY     45965
FL     32857
PA     27793
OH     25962
IL     23610
MA     20030
MN     19519
NJ     19212
WA     18554
GA     17740
WI     16859
MO     16471
CO     16451
MI     16405
UT     14952
AZ     14101
NC     11343
IN     11211
MD     10604
VA     10596
CT      9634
IA      9576
NH      9573
KS      9193
OR      8872
OK      7893
LA      7651
TN      7597
ID      7501
RI      7161
MT      6963
AL      6656
NV      6384
KY      6200
MS      6116
NE      5112
AR      5098
NM      4825
ME      4795
SC      4486
VT      4332
ND      4214
SD      3505
HI      2847
WV      2614
WY      2252
AK      1931
DE      1743
DC      1292
Name: State, dtype: int64
Current city: CA
P I F     0.814625
CHGOFF    0.185375
Name: MIS_Status, dtype: float64
Current city: TX
P I F     0.811227
CHGOFF    0.188773
Name: MIS_Status, dtype: float64
Current city: NY
P I F     0.798803
CHGOFF    0.201197
Name: MIS_Status, dtype: float64
Current city: FL
P I F     0.726999
CHGOFF    0.273001
Name: MIS_Status, dtype: float64
Current city: PA
P I F     0.852805
CHGOFF    0.147195
Name: MIS_Status, dtype: float64
Current city: OH
P I F     0.836068
CHGOFF    0.163932
Name: MIS_Status, dtype: float64
Current city: IL
P I F     0.773359
CHGOFF    0.226641
Name: MIS_Status, dtype: float64
Current city: MA
P I F     0.870394
CHGOFF    0.129606
Name: MIS_Status, dtype: float64
Current city: MN
P I F     0.882576
CHGOFF    0.117424
Name: MIS_Status, dtype: float64
Current city: NJ
P I F     0.800593
CHGOFF    0.199407
Name: MIS_Status, dtype: float64

In [21]:
df = states_to_rate_categories(df, label)

In [22]:
df[df['State'] == 'u_11'][label].value_counts(normalize=True)

P I F     0.922681
CHGOFF    0.077319
Name: MIS_Status, dtype: float64

In [23]:
val_counts = df['State'].value_counts()
val_counts

u_23     306788
u_19     162330
u_15     139468
u_max     81883
u_11      26061
Name: State, dtype: int64

## Zip

In [24]:
basic_cat_col_data(df, 'Zip', label, 5)

Null values: 0
Unique: 31741
Vals:
 10001    759
90015    738
93401    618
90010    585
33166    528
Name: Zip, dtype: int64
Current city: 10001
P I F     0.740448
CHGOFF    0.259552
Name: MIS_Status, dtype: float64
Current city: 90015
P I F     0.693767
CHGOFF    0.306233
Name: MIS_Status, dtype: float64
Current city: 93401
P I F     0.904531
CHGOFF    0.095469
Name: MIS_Status, dtype: float64
Current city: 90010
CHGOFF    0.538462
P I F     0.461538
Name: MIS_Status, dtype: float64
Current city: 33166
P I F     0.69697
CHGOFF    0.30303
Name: MIS_Status, dtype: float64

In [25]:
df = drop_col(df, 'Zip')

In [26]:
df

,name_end,State,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
LoanNr_ChkDgt,,,,,,,,,,,,,,,,,,,,,
5893754007,Other,u_max,BANK OF AMERICA NATL ASSOC,NC,561730,22-Nov-02,2003,84,1,1.0,...,Y,N,NaN,31-Jan-03,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
3842804010,INC,u_23,ALTERNATIVES FCU,NY,312130,18-Jul-00,2000,12,9,1.0,...,N,N,NaN,30-Sep-00,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$45,000.00"
9096044001,Other,u_15,BBCN BANK,CA,453998,13-Sep-05,2005,48,1,1.0,...,0,N,3-Nov-08,30-Sep-05,"$10,000.00",$0.00,CHGOFF,"$7,422.00","$10,000.00","$5,000.00"
2982214007,Other,u_11,WELLS FARGO BANK NATL ASSOC,SD,445110,2-Jun-99,1999,60,9,1.0,...,0,Y,NaN,30-Sep-99,"$26,000.00",$0.00,P I F,$0.00,"$26,000.00","$20,800.00"
4365925008,Other,u_19,TRUSTMARK NATIONAL BANK,AL,722110,15-Nov-10,2011,84,1,2.0,...,N,NaN,NaN,1-Mar-11,"$201,500.00",$0.00,P I F,$0.00,"$201,500.00","$181,350.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204824000,Other,u_23,UNITY BANK,NJ,541940,27-Sep-99,1999,228,2,2.0,...,0,N,NaN,30-Apr-00,"$500,000.00",$0.00,P I F,$0.00,"$500,000.00","$375,000.00"
1497205002,Other,u_23,BANK OF AMERICA NATL ASSOC,NC,422320,13-Oct-05,2006,57,1,2.0,...,T,N,14-Aug-08,31-Mar-06,"$45,450.00",$0.00,CHGOFF,"$44,450.00","$45,000.00","$22,500.00"
1333844003,INC.,u_15,GRANITE ST. ECONOMIC DEVEL COR,NH,0,10-Jun-97,1997,240,8,2.0,...,N,N,NaN,11-Mar-98,"$291,000.00",$0.00,P I F,$0.00,"$291,000.00","$291,000.00"
9612943001,Other,u_11,NORTHEAST BANK,ME,811111,7-Oct-96,1997,120,1,1.0,...,N,Y,NaN,31-Dec-96,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"
2185585006,Other,u_23,"PNC BANK, NATIONAL ASSOCIATION",DE,722110,20-Dec-06,2007,12,1,1.0,...,Y,N,9-Mar-08,31-Jan-07,"$50,000.00",$0.00,CHGOFF,"$50,000.00","$50,000.00","$25,000.00"

## Bank

In [27]:
basic_cat_col_data(df, 'Bank', label, 10)

Null values: 63
Unique: 5593
Vals:
 BANK OF AMERICA NATL ASSOC        69602
WELLS FARGO BANK NATL ASSOC       50631
JPMORGAN CHASE BANK NATL ASSOC    38510
U.S. BANK NATIONAL ASSOCIATION    28147
CITIZENS BANK NATL ASSOC          26890
PNC BANK, NATIONAL ASSOCIATION    21921
BBCN BANK                         18366
CAPITAL ONE NATL ASSOC            17787
MANUFACTURERS & TRADERS TR CO      8987
READYCAP LENDING, LLC              8500
Name: Bank, dtype: int64
Current city: BANK OF AMERICA NATL ASSOC
P I F     0.724103
CHGOFF    0.275897
Name: MIS_Status, dtype: float64
Current city: WELLS FARGO BANK NATL ASSOC
P I F     0.858822
CHGOFF    0.141178
Name: MIS_Status, dtype: float64
Current city: JPMORGAN CHASE BANK NATL ASSOC
P I F     0.723656
CHGOFF    0.276344
Name: MIS_Status, dtype: float64
Current city: U.S. BANK NATIONAL ASSOCIATION
P I F     0.827264
CHGOFF    0.172736
Name: MIS_Status, dtype: float64
Current city: CITIZENS BANK NATL ASSOC
P I F     0.775009
CHGOFF    0.224991
Name: MIS_Status, dtype: float64
Current city: PNC BANK, NATIONAL ASSOCIATION
P I F     0.805529
CHGOFF    0.194471
Name: MIS_Status, dtype: float64
Current city: BBCN BANK
CHGOFF    0.548949
P I F     0.451051
Name: MIS_Status, dtype: float64
Current city: CAPITAL ONE NATL ASSOC
P I F     0.589532
CHGOFF    0.410468
Name: MIS_Status, dtype: float64
Current city: MANUFACTURERS & TRADERS TR CO
P I F     0.868477
CHGOFF    0.131523
Name: MIS_Status, dtype: float64
Current city: READYCAP LENDING, LLC
P I F     0.736235
CHGOFF    0.263765
Name: MIS_Status, dtype: float64